<div class="container">
	<div class="jumbotron">
	    <div class="container marketing">
	      <div class="row">
	      	<div class="col-lg-4"></div>
	        <div class="col-lg-3">
	          <%= image_tag("/Imagens/lucas.jpg", class:"img-circle", height: '140', width: '140')%>
	          <h3>Lucas F. Ferreira</h3>
	          <p>2012.1.08.023</p>
	          <p>(35)9996-0560</p> 
	          <a href="https://www.facebook.com/lucas.faloni" target="_blank">Acesse o facebook</a>        
	        </div>
	        <div class="col-lg-3">
	          <%= image_tag("/Imagens/delio.jpg", class:"img-circle", height: '140', width: '140')%>
	          <h3>Délio G. Soares</h3>
	          <p>2012.1.08.011</p> 
	          <p>(35)9192-0372</p>
	          <a href="https://www.facebook.com/delio.gomes.3" target="_blank">Acesse o facebook</a>
	        </div>
	      </div>
	</div>
</div>
<hr>
<footer>
    <p>Trabalho de Tópicos Especiais em Computação - Anuário 2014/2</p>
</footer>