 <!-- Main jumbotron for a primary marketing message or call to action -->
 <div class="jumbotron">
  <div class="container">
    <h1>YearBook</h1>
    <p>Esta aplicação é um anuário ou yearbook. É um tipo de um livro publicado anualmente, com o perfil dos estudantes comemorar o ano passado de uma escola. Muitas faculdades, e muitas escolas de ensino médio em alguns países como Canadá, E.U.A. e Austrália publicam anuários.</p>
  </div>
</div>

<div class="row">
</div>

<hr>

<footer>
  <p>Trabalho de Tópicos Especiais em Computação - Anuário 2014/2</p>
</footer>
</div> <!-- /container -->