<div class="container">
      <div class="jumbotron">
        <h1>Trabalho TEC - Anuário</h1>
        <p class="lead">O projeto consiste no desenvolvimento um álbum dos alunos da sua turma de Tópicos Especiais em Comutação 2014/02. A ideia é implementar algo parecido com os Yearbooks publicados pelas escolas americanas.</p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>1 - Pagina principal</h4>
          <p>A página principal do sistema deve conter uma breve apresentação do site e mostrar algumas fotos em formato thumbnail e nomes de pessoas participantes. Essas fotos devem conter os links para os perfis dessas pessoas, mas para acessá-los é necessário estar logado no sistema.</p></br>

          <h4>2 - Cadastro de Participante</h4>
          <p>Uma pessoa que deseje ter seus dados disponíveis no Yearbook deve se cadastrar no sistema. Fazem parte do cadastro os seguintes dados: login, senha, foto, nome completo, cidade, estado, email e breve descrição pessoal cedida pelo próprio participante. Todos os campos são obrigatórios.</p></br>

          <h4>3 - Login de Participante</h4>
          <p>Para ter acesso aos dados completos do sistema, o participante deve obrigatoriamente realizar o seu login.</p></br>

          <h4>4 - Edição de dados</h4>
          <p>Uma vez cadastrado, o participante pode, posteriormente, alterar seus dados. Para alterar seus dados, ele deve necessariamente realizar um login.</p></br>
        </div>

        <div class="col-lg-6">
          <h4>5 - Pagina Principal Participante</h4>
          <p>Uma vez feito o login no sistema, o participante deve ser direcionado para uma página principal na qual são exibidos seus dados. Essa página também deve mostrar algumas fotos em formato thumbnail e nomes de outros participantes. Essas fotos devem conter os links para os perfis dessas pessoas. Preferencialmente, entre estes dados, devem estar dados do último perfil visitado pelo Curso: Bacharelado em Computação Disciplina: Tópicos Especiais em Tecnologia Professor(a): João Antonio Silva 2014/02</p></br>

          <h4>6 - Página de resultado de busca</h4>
          <p>Uma vez feita a busca, os resultados devem ser exibidos em uma página que inclua fotos em formato thumbnail e nomes dos participantes que obedeçam ao critério de busca. As fotos e nomes devem conter links para os perfis completos dos participantes. A busca só pode ser feita se o login já tiver sido realizado. </p></br>

          <h4>7 - Perfil dos participantes</h4>
          <p>A página do perfil do participante deve conter todos os seus dados pessoais. Esta página só pode ser acessada após realização do login.</p></br>
        </div>
      </div>

      <hr>
      <footer>
        <p>Trabalho de Tópicos Especiais em Computação - Anuário 2014/2</p>
      </footer>
</div> <!-- /container -->
